<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">git 
  </div>

  <div class="row">
    <% @unicorns.each do |unicorn| %>
      <div class="co-12 colsm-6 col-md-4 bigcard">
        <% if unicorn.photo.present? %>
          <%= link_to unicorn_path(unicorn), class:'text-decoration-none' do %>
            <div class="card-category" data-aos="zoom-in" style="background-image: url('<%= cl_image_path unicorn.photo.key, height: 300, crop: :fill %>')">
            </div>
            <div class="box-descrip">
             <strong><%= unicorn.name %> </strong> <br>
             <strong>Species: </strong> <%= unicorn.species %> <br>
             <strong>Price:</strong> €<%= unicorn.price %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
