<div>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="uni-form p-3">
        <h3>Create a new Unicorn</h3>

        <%= simple_form_for @unicorn do |f| %>
          <%= f.input :name, placeholder: 'Name' %>
          <%= f.input :price, placeholder: 'Price' %>
          <%= f.input :species, placeholder: 'Species' %>
          <%= f.input :location, placeholder: 'Location' %>
          <%= f.input :description, placeholder: 'Description' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-primary' %> or
          <%= link_to 'Cancel', unicorns_path, class: 'text-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
