<div class="ucontainer">
  <div class="u-photo" style="background-image: url('<%= cl_image_path @unicorn.photo.key, height: 300%>')">
  </div>

  <div class="maps"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="u-price">
    <div class="price"> € <%= @unicorn.price %>
    </div>
    <div>
      <%= link_to new_unicorn_booking_path(@unicorn), class: 'btn btn-primary rounded bk-btn' do %>
        <i class="fas fa-plus"></i> Book this Unicorn
      <% end %>
    </div>

      <div> <%= link_to unicorn_path(@unicorn), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: 'btn btn-danger rounded dlt-btn' do %>
        <i class="fas fa-trash-alt"></i> Delete Unicorn
      <% end %>
      </div>
  </div>

  <div class="u-descrip" >
    <strong><%= @unicorn.name %> </strong> <br>
    <%= @unicorn.species %> <br>
    <strong> Description</strong> <br>
    <%= @unicorn.description %> <br>
  </div>

  <div>
      <%= link_to 'Back to all Unicorns', unicorns_path %>
  </div>
</div>
